<h1>Senha alterada com sucesso</h1>
<p>Olá {{name}}, sua senha foi alterada recentemente.</p>
<p>Se você não realizou essa alteração, recomendamos redefinir sua senha imediatamente para garantir a segurança da sua conta.</p>