<h1>Workspace será excluído em 90 dias</h1>
<p>O workspace <strong>{{workspaceName}}</strong> será excluído em 90 dias.</p>
<p>Se você acredita que isso foi um erro, acesse sua conta e ative o workspace novamente, você pode fazer isso no link abaixo:</p>
<a href="{{workspaceReactivateUrl}}" style="background:black;color:white;padding:12px 20px;text-decoration:none;border-radius:6px;display:inline-block;">Ativar workspace</a>